<h1 mat-dialog-title>
  <ng-container *ngIf="!dataStorageService.isEditMode; else editTitle">Add product</ng-container>
</h1>
<ng-template #editTitle>
  Edit product
  <span class="small">
    (id: <strong>{{ this.data.editProductId }}</strong>)
  </span>
</ng-template>

<form
  [formGroup]="productForm"
  (ngSubmit)="onSubmit()"
>
  <div mat-dialog-content>

    <mat-form-field
      appearance="fill"
      class="my-1"
    >
      <mat-label>Name</mat-label>
      <input matInput formControlName="name"/>
    </mat-form-field>

    <mat-form-field
      appearance="fill"
      class="my-1"
    >
      <mat-label>Select</mat-label>
      <mat-select formControlName="category_id">
        <mat-option
          *ngFor="let category of categories"
          [value]="category?.id"
        >
          {{ category?.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field
      appearance="fill"
      class="my-1"
    >
      <mat-label>Comment</mat-label>
      <textarea
        matInput
        formControlName="comment"
      ></textarea>
    </mat-form-field>

    <mat-checkbox
      formControlName="expiration_type"
      (click)="onToggleExpirationType()"
      class="mb-2"
    >
      Expirable
    </mat-checkbox>

    <mat-form-field
      appearance="fill"
      class="mt-1 mb-2"
      *ngIf="isExpirable"
    >
      <mat-label>Expiration date</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        formControlName="expiration_date"
      >
      <mat-hint></mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field
      appearance="fill"
      class="my-1"
    >
      <mat-label>Manufacture date</mat-label>
      <input
        matInput
        [matDatepicker]="manufacture_date_picker"
        formControlName="manufacture_date"
      >
      <mat-hint></mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="manufacture_date_picker"></mat-datepicker-toggle>
      <mat-datepicker #manufacture_date_picker></mat-datepicker>
    </mat-form-field>

    <p class="error" *ngIf="error">{{ error }}</p>

    <div formArrayName="fields">
      <h5>Extra fields</h5>
      <div *ngFor="let field of fields.controls; let i = index" [formGroupName]="i">

        <!-- =extra fields -->
        <mat-card class="my-2">
          <mat-card-header>
            <mat-card-title>Field #{{ i + 1 }}</mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <mat-form-field appearance="fill" class="my-1">
              <mat-label>Name</mat-label>
              <input matInput formControlName="name">
            </mat-form-field>

            <div class="d-flex">
              <mat-checkbox formControlName="is_date" class="mb-3 me-3 mt-3 flex-shrink-0">Is Date</mat-checkbox>

              <ng-container *ngIf="!field.get('is_date')?.value; else datePicker">
                <mat-form-field appearance="fill" class="my-1">
                  <mat-label>Value</mat-label>
                  <input matInput formControlName="value">
                </mat-form-field>
              </ng-container>
              <ng-template #datePicker>
                <mat-form-field appearance="fill" class="my-1">
                  <mat-label>Value</mat-label>
                  <input matInput [matDatepicker]="fieldDatePicker" formControlName="value">
                  <mat-datepicker-toggle matIconSuffix [for]="fieldDatePicker"></mat-datepicker-toggle>
                  <mat-datepicker #fieldDatePicker></mat-datepicker>
                </mat-form-field>
              </ng-template>
            </div>
          </mat-card-content>

          <mat-card-actions>
            <div class="d-flex ms-auto">
              <button
                mat-raised-button
                color="warn"
                (click)="removeExtraField(i)"
                type="button"
              >
                Remove Field
              </button>
            </div>
          </mat-card-actions>
          <div class="d-flex">
          </div>
        </mat-card>
      </div>
      <button
        mat-raised-button
        color="primary"
        (click)="addExtraFields()"
        type="button"
      >
        + Add fields
      </button>
    </div>

  </div>
  <div mat-dialog-actions>
    <button mat-button color="primary" cdkFocusInitial [disabled]="isSaving">
      {{isSaving ? 'Saving.. ' : 'Save'}}
    </button>
    <button mat-button matDialogClose="">Cancel</button>
  </div>
</form>
